<button *ngIf="!isLoggedIn" routerLink="login">Login</button>
<button routerLink="todo">ToDo List</button>
<ng-container *ngIf="isLoggedIn">
  <button (click)="logout()">Logout</button>
  <button (click)="healthCheck()">Health check</button>
</ng-container>

{{isLoggedIn}}
<router-outlet></router-outlet>
