<div class="auth-form">
  <h3>Login page</h3>
  <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
    <mat-form-field class="auth-form__row" appearance="fill">
      <mat-label>Email</mat-label>
      <input formControlName="email" type="email" matInput placeholder="example@example.com" >
    </mat-form-field>
    <mat-form-field class="auth-form__row" appearance="fill">
      <mat-label>Password</mat-label>
      <input formControlName="password" type="password" matInput  />
    </mat-form-field>
    <button type="submit" mat-raised-button color="primary" [disabled]="loginForm.invalid">Login</button>
  </form>
</div>
